input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px transparent;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.pointer-events-none {
  pointer-events: none;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.h-\[var\(--sizing-extralarge\)\] {
  height: var(--sizing-extralarge);
}

.h-\[var\(--sizing-large\)\] {
  height: var(--sizing-large);
}

.h-\[var\(--sizing-medium\)\] {
  height: var(--sizing-medium);
}

.h-\[var\(--sizing-mediumlarge\)\] {
  height: var(--sizing-mediumlarge);
}

.min-h-14 {
  min-height: 3.5rem;
}

.w-full {
  width: 100%;
}

.min-w-10 {
  min-width: 2.5rem;
}

.min-w-12 {
  min-width: 3rem;
}

.min-w-8 {
  min-width: 2rem;
}

.shrink-0 {
  flex-shrink: 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.place-items-center {
  place-items: center;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-x-\[var\(--spacing-inline-twopulse\)\] {
  -moz-column-gap: var(--spacing-inline-twopulse);
  column-gap: var(--spacing-inline-twopulse);
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.bg-\[var\(--color-action-fill-brand-primary-enabled\)\] {
  background-color: var(--color-action-fill-brand-primary-enabled);
}

.bg-\[var\(--color-action-fill-neutral-secondary-enabled\)\] {
  background-color: var(--color-action-fill-neutral-secondary-enabled);
}

.bg-\[var\(--color-action-fill-neutral-tertiary-enabled\)\] {
  background-color: var(--color-action-fill-neutral-tertiary-enabled);
}

.fill-none {
  fill: none;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-\[var\(--padding-inset-fivepulse\)\] {
  padding-left: var(--padding-inset-fivepulse);
  padding-right: var(--padding-inset-fivepulse);
}

.px-\[var\(--padding-inset-fourpulse\)\] {
  padding-left: var(--padding-inset-fourpulse);
  padding-right: var(--padding-inset-fourpulse);
}

.px-\[var\(--padding-inset-sixpulse\)\] {
  padding-left: var(--padding-inset-sixpulse);
  padding-right: var(--padding-inset-sixpulse);
}

.font-sans {
  font-family: var(--font-family-rdmodernvariable);
}

.text-\[length\:var\(--font-size-threeandhalfpulse\)\] {
  font-size: var(--font-size-threeandhalfpulse);
}

.text-\[length\:var\(--font-size-threepulse\)\] {
  font-size: var(--font-size-threepulse);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

.leading-\[var\(--line-height-medium\)\] {
  line-height: var(--line-height-medium);
}

.leading-\[var\(--line-height-small\)\] {
  line-height: var(--line-height-small);
}

.tracking-\[var\(--letter-spacing-default\)\] {
  letter-spacing: var(--letter-spacing-default);
}

.text-\[var\(--color-text-neutral-default\)\] {
  color: var(--color-text-neutral-default);
}

.text-\[var\(--color-text-neutral-inverse\)\] {
  color: var(--color-text-neutral-inverse);
}

.outline-offset-2 {
  outline-offset: 2px;
}

.outline-\[var\(--color-action-border-focused\)\] {
  outline-color: var(--color-action-border-focused);
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.ring-\[length\:var\(--border-width-quarterpulse\)\] {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(var(--border-width-quarterpulse) + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.ring-\[var\(--color-action-border-neutral-secondary-enabled\)\] {
  --tw-ring-color: var(--color-action-border-neutral-secondary-enabled);
}

.ring-\[var\(--color-action-border-neutral-tertiary-enabled\)\] {
  --tw-ring-color: var(--color-action-border-neutral-tertiary-enabled);
}

@keyframes enter {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(
        var(--tw-enter-translate-x, 0),
        var(--tw-enter-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1)
      )
      rotate(var(--tw-enter-rotate, 0));
  }
}

@keyframes exit {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(
        var(--tw-exit-translate-x, 0),
        var(--tw-exit-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1)
      )
      rotate(var(--tw-exit-rotate, 0));
  }
}

.focus-visible\:outline-2:focus-visible {
  outline-width: 2px;
}

.active\:bg-\[var\(--color-action-fill-brand-primary-pressed\)\]:active {
  background-color: var(--color-action-fill-brand-primary-pressed);
}

.active\:bg-\[var\(--color-action-fill-neutral-secondary-pressed\)\]:active {
  background-color: var(--color-action-fill-neutral-secondary-pressed);
}

.active\:bg-\[var\(--color-action-fill-neutral-tertiary-pressed\)\]:active {
  background-color: var(--color-action-fill-neutral-tertiary-pressed);
}

.active\:ring-\[var\(--color-action-border-neutral-secondary-pressed\)\]:active {
  --tw-ring-color: var(--color-action-border-neutral-secondary-pressed);
}

.active\:ring-\[var\(--color-action-border-neutral-tertiary-pressed\)\]:active {
  --tw-ring-color: var(--color-action-border-neutral-tertiary-pressed);
}

.enabled\:hover\:bg-\[var\(--color-action-fill-brand-primary-hovered\)\]:hover:enabled {
  background-color: var(--color-action-fill-brand-primary-hovered);
}

.enabled\:hover\:bg-\[var\(--color-action-fill-neutral-secondary-hovered\)\]:hover:enabled {
  background-color: var(--color-action-fill-neutral-secondary-hovered);
}

.enabled\:hover\:bg-\[var\(--color-action-fill-neutral-tertiary-hovered\)\]:hover:enabled {
  background-color: var(--color-action-fill-neutral-tertiary-hovered);
}

.enabled\:hover\:ring-\[var\(--color-action-border-neutral-secondary-hovered\)\]:hover:enabled {
  --tw-ring-color: var(--color-action-border-neutral-secondary-hovered);
}

.enabled\:hover\:ring-\[var\(--color-action-border-neutral-tertiary-hovered\)\]:hover:enabled {
  --tw-ring-color: var(--color-action-border-neutral-tertiary-hovered);
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:bg-\[var\(--color-action-fill-brand-primary-disabled\)\]:disabled {
  background-color: var(--color-action-fill-brand-primary-disabled);
}

.disabled\:bg-\[var\(--color-action-fill-neutral-secondary-disabled\)\]:disabled {
  background-color: var(--color-action-fill-neutral-secondary-disabled);
}

.disabled\:bg-\[var\(--color-action-fill-neutral-tertiary-disabled\)\]:disabled {
  background-color: var(--color-action-fill-neutral-tertiary-disabled);
}

.disabled\:text-\[var\(--color-text-neutral-disabled\)\]:disabled {
  color: var(--color-text-neutral-disabled);
}

.disabled\:ring-\[var\(--color-action-border-neutral-secondary-disabled\)\]:disabled {
  --tw-ring-color: var(--color-action-border-neutral-secondary-disabled);
}

.disabled\:ring-\[var\(--color-action-border-neutral-tertiary-disabled\)\]:disabled {
  --tw-ring-color: var(--color-action-border-neutral-tertiary-disabled);
}
